.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

/* @media (prefers-color-scheme: dark) {
  .dark-brighten{
    filter: brightness(0) invert(1);
  }
} */