.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

body{
  font-family: 'Work Sans', sans-serif;
}

h1{
  font-family: "Times New Roman", Times, serif;
}
h2{
  font-family: "Times New Roman", Times, serif;
}
h3{
  font-family: "Times New Roman", Times, serif;
}
h4{
  font-family: "Times New Roman", Times, serif;
}

.dark-brighten{
  filter: brightness(0) invert(1);
}