@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply transition duration-500 bg-secondary border-secondary border flex items-center justify-center text-white
}

nav a {
    @apply hover:text-secondary duration-200 !important 
}

nav a.router-link-active {
    @apply text-secondary !important
}

#callToAction a.router-link-active {
    @apply text-white !important
}

h1{
    @apply text-4xl sm:text-6xl
}

h2{
    @apply text-3xl sm:text-5xl
}
h3{
    @apply text-2xl sm:text-4xl
}
h4{
    @apply text-xl sm:text-3xl
}
p{
    @apply text-sm sm:text-base
}

.form-input{
    @apply block w-full rounded-md border-0 px-3.5 py-2 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-secondary sm:text-sm sm:leading-6
}